<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
<title>租房推荐系统</title>
<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css" />
<link rel="stylesheet" href="http://cache.amap.com/lbs/static/jquery.range.css" />
<script src="http://cache.amap.com/lbs/static/jquery-1.9.1.js"></script>
<script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
<script src="http://webapi.amap.com/maps?v=1.3&key=443f31622212b2ec303df893603fbce7&plugin=AMap.ArrivalRange,AMap.Scale,AMap.Geocoder,AMap.Transfer,AMap.Autocomplete"></script>
<script src="http://cache.amap.com/lbs/static/jquery.range.js"></script>
<script src="http://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<link rel="stylesheet" href="css/index.css"/>
</head>

<body>
	<div id="container"></div>
	<div class="control-panel">
		<div class="control-entry">
			<label>选择工作城市：</label>
			<div class="control-input">
				<select id="work-city" onChange="changeCity(this)" style="width:150px">
				<option>郑州</option>
				<option>北京</option>
				<option>上海</option>
				</select>
			</div>
		</div>
		<div class="control-entry">
			<label>选择排序：</label>
			<div class="control-input">
				<select name="choose" id="chooseSort" style="width:150px">
				<option value="1">排序1</option>
				<option value="2">排序2</option>
				<option value="3">排序3</option>
				<option value="4">排序4</option>
				<option value="5">排序5</option>
				<option value="6">排序6</option>
				</select>
			</div>
		</div>
		<div class="control-entry">
			<label>分组：</label>
			<div class="control-input">
				<select name="choose" id="fenzu" style="width:150px">
				<option value="1">分组1</option>
				<option value="2">分组2</option>
				<option value="3">分组3</option>
				<option value="3">分组4</option>
				<option value="3">分组5</option>
				</select>
			</div>
		</div>
		<div class="control-entry">
			<label>偏好系数：</label>
			<div class="control-input">
				租金:<input type="number" name="money" min="0.1" max="0.9" step="0.1" value="0.5" style="width:40px">
				距离:<input type="number" name="distance" min="0.1" max="0.9" step="0.1" value="0.5" readonly style="width:40px">
			</div>
		</div>
		<div class="control-entry">
			<label>选择工作地点：</label>
			<div class="control-input">
				<input id="work-location" type="text">
			</div>
		</div>
		<div class="control-entry">
			<label>选择交通方式：</label>
			<div class="control-input">
				<input type="radio" name="vehicle" value="SUBWAY,BUS"
					onClick="takeBus(this)" checked /> 公交+地铁 <input type="radio"
					name="vehicle" value="SUBWAY" onClick="takeSubway(this)" /> 地铁
			</div>
		</div>
		
	</div>
	<div id="transfer-panel"></div>
	<script>
	   var map = new AMap.Map("container", {
	        resizeEnable: true,               //页面可调整大小
	        zoomEnable: true,                 //可缩放
	        center: [113.509463,34.810713],   //地图中心，这里使用的是郑州轻工业的位置
	        zoom: 11                          //缩放等级，数字越大离地球越近
	    });
        
        var scale = new AMap.Scale();
        map.addControl(scale);
		//工作城市
        var city = '郑州';
      	//公交到达圈对象
        var arrivalRange = new AMap.ArrivalRange();
        //经度，纬度，时间（用不到），通勤方式（默认是地铁＋公交）
        var x, y, t, vehicle = "SUBWAY,BUS";
        //工作地点，工作标记
        var workAddress, workMarker;
        //房源标记队列
        var rentMarkerArray = [];
        //多边形队列，存储公交到达的计算结果
        var polygonArray = [];
        //路径规划
        var amapTransfer;
        
        //保存临时变量
        var tempe;
        
        var longitude=0,dimension=0;//经纬度
        var money = $("input[name='money']").val();//钱权值
        var distance = $("input[name='distance']").val();//距离权值
        
        $("input[name='money']").bind("input propertychange change",function(event){
        	money = parseFloat($("input[name='money']").val());
        	if(money>=1){
        		alter("最大值只能为0.9");
        		$("input[name='money']").val(0.9);
        		return;
        	}
        	var temp = 1 - money;
            $("input[name='distance']").val(temp);
    	});

        //下拉列表框事件
        $("#chooseSort").bind('change',function(){
        	workLocationSelected(tempe);
        });
        $("#fenzu").bind('change',function(){
        	workLocationSelected(tempe);
        });
        
        
        
        
        //信息窗体对象在房源标记被点击时弹出
        var infoWindow = new AMap.InfoWindow({
            offset: new AMap.Pixel(0, -30)
        });

        var auto = new AMap.Autocomplete({
        	 //通过id指定输入元素
            input: "work-location"
        });
      	//添加事件监听，在选择补完的地址后调用workLocationSelected
        AMap.event.addListener(auto, "select", workLocationSelected);
      
      //选择城市事件监听
      function changeCity(select){
    	  city = $('#work-city option:selected').text()
      }
      //交通方式选择(坐公交)
        function takeBus(radio) {
            vehicle = radio.value;
            loadWorkLocation()
        }
      //交通方式选择(坐地铁)
        function takeSubway(radio) {
            vehicle = radio.value;
            loadWorkLocation()
        }

        //导入租房信息
        function importRentInfo(fileInfo) {
            var file = fileInfo.files[0].name;
            loadRentLocationByFile(file);
        }

        //点击自动完成后的地址后更新工作圈
        function workLocationSelected(e) {
        	tempe = e;
            workAddress = e.poi.name;
            //根据地点获得经纬度
            AMap.service('AMap.Geocoder',function(){//回调函数
                //实例化Geocoder
                geocoder = new AMap.Geocoder({
                });
                geocoder.getLocation(workAddress, function(status, result) {
                    if (status === 'complete' && result.info === 'OK') {
                        //TODO:获得了有效经纬度，可以做一些展示工作
                        longitude = result.geocodes[0].location.lng;
                        dimension = result.geocodes[0].location.lat;
                        console.info(longitude+":"+dimension);
                        loadWorkLocation();
                        loadRentLocationByDB("listRent",longitude,dimension);
                    }else{
                        //获取经纬度失败
                    }
                }); 	
            })
        }

        //添加工作地点标记
        function loadWorkMarker(x, y, locationName) {
            workMarker = new AMap.Marker({
                map: map,
                title: locationName,
                icon: 'images/mark_r.png',
                position: [x, y]
            });
        }

		//加载工作路径
        function loadWorkRange(x, y, t, color, v) {
            arrivalRange.search([x, y], t, function(status, result) {
                if (result.bounds) {
                    for (var i = 0; i < result.bounds.length; i++) {
                        var polygon = new AMap.Polygon({
                            map: map,
                            fillColor: color,
                            fillOpacity: "0.4",
                            strokeColor: color,
                            strokeOpacity: "0.8",
                            strokeWeight: 1
                        });
                        polygon.setPath(result.bounds[i]);
                        polygonArray.push(polygon);
                    }
                }
            }, {
                policy: v
            });
        }

        //根据JSON数据添加标记
        function addMarkerByData(data,index) {
            var geocoder = new AMap.Geocoder({
                city: city,
                radius: 1000
            });
            var icon = 'images/mark_b.png';
            var fenzu = $("#fenzu option:selected").val();
            fenzu = fenzu - 1;
            if(index<50){
            	switch(index){
            		case 1+fenzu*7:
            			icon = 'images/m1.png';
            			break;
            		case 2+fenzu*7:
            			icon = 'images/m2.png';
            			break;
            		case 3+fenzu*7:
            			icon = 'images/m3.png';
            			break;
            		case 4+fenzu*7:
            			icon = 'images/m4.png';
            			break;
            		case 5+fenzu*7:
            			icon = 'images/m5.png';
            			break;
            		case 6+fenzu*7:
            			icon = 'images/m6.png';
            			break;
            		case 7+fenzu*7:
            			icon = 'images/m7.png';
            			break;
            		}
            }
            
            var houseaddress = data.local==null?data.village:data.local
            geocoder.getLocation(houseaddress, function(status, result) {
                if (status === "complete" && result.info === 'OK') {
                    var geocode = result.geocodes[0];
                    rentMarker = new AMap.Marker({
                        map: map,
                        title: houseaddress,
                        icon: icon,
                        position: [geocode.location.getLng(), geocode.location.getLat()]
                    });
                    rentMarkerArray.push(rentMarker);

                    rentMarker.content = "<div><p>房源：<a target='_blank' href='"+data.url+"'>" + data.name + "</a></p><p><span>租金:"+ data.rent+"</span>&nbsp;&nbsp;<span>面积:"+ data.area+"</span>&nbsp;&nbsp;<span>距离:"+ data.distance+"</span></p><div>"
                  
                    //在房源标记被点击时打开
                    rentMarker.on('click', function(e) {
                    	//鼠标移到标记上会显示标记content属性的内容
                        infoWindow.setContent(e.target.content);
                        //在标记的位置打开窗体
                        infoWindow.open(map, e.target.getPosition());
                        if (amapTransfer) amapTransfer.clear();
                        amapTransfer = new AMap.Transfer({
                            map: map,
                            policy: AMap.TransferPolicy.LEAST_TIME,
                            city: city,
                            panel: 'transfer-panel'
                        });
                        amapTransfer.search([{
                            keyword: workAddress
                        }, {
                            keyword: houseaddress
                        }], function(status, result) {})
                    });
                }
            })
        }

        //删除工作地点标记
        function delWorkLocation() {
            if (polygonArray) map.remove(polygonArray);
            if (workMarker) map.remove(workMarker);
            polygonArray = [];
        }
		//删除租房信息标记
        function delRentLocation() {
            if (rentMarkerArray) map.remove(rentMarkerArray);
            rentMarkerArray = [];
        }

		
        function loadWorkLocation() {
        	 //首先清空地图上已有的到达圈
            delWorkLocation();
            var geocoder = new AMap.Geocoder({
                city: city,
                radius: 1000
            });

            geocoder.getLocation(workAddress, function(status, result) {
                if (status === "complete" && result.info === 'OK') {
                    var geocode = result.geocodes[0];
                    x = geocode.location.getLng();
                    y = geocode.location.getLat();
                    //加载工作地点标记
                    loadWorkMarker(x, y);
                    //加载60分钟内工作地点到达圈
                    loadWorkRange(x, y, 60, "#3f67a5", vehicle);
                    //地图移动到工作地点的位置
                    map.setZoomAndCenter(12, [x, y]);
                }
            })
        }

        //加载租房信息根据数据库中的信息
        function loadRentLocationByDB(dbpath,longitude,dimension) {
            delRentLocation();
            var distance = $("input[name='distance']").val();//距离权值
            var choose = $("#chooseSort option:selected").val();
            var data = {"longitude":longitude,"dimension":dimension,"money":money,"distance":distance,"choose":choose};
            console.info(data);
            $.get(dbpath,data,function(data) {
                data = data.data;
                data.forEach(function(item, index) {
                	addMarkerByData(item,index);
                	//console.info(index+"  ===  "+ item.weight);
                });
            });
        } 
        </script>
</body>
</html>